body {
    font-family: Georgia, serif;
    text-align: center;
    display: grid;
    place-items: center;
    margin: auto;
}

.container {
    max-width: 800px;
    width: 80%;
    border: 5px groove salmon;
    border-radius: 50px;
    padding: 2em;
}

.box-container {
    border: 3px solid salmon;
    border-radius: 25px;
    padding: 2em;
    text-align: left;
    margin: auto;
    width: fit-content;
}

h1 {
    margin-bottom: 20px;
    margin-top: 20px;
    color: darkblue;
}

a {
    display: block;
    margin: auto;
    width: 100px;
}

a:hover {
    color: olivedrab;
    border: 1px solid olivedrab;
}

img {
    border: 5px solid grey;
    border-radius: 15px;
}

ol {
    text-align: left;
}